.profilepic {
	max-width: 80%;
}

.leanne {
	font-size: 20px;
}

.tennis-bar{
	background-image: url(https://i.ebayimg.com/images/g/vykAAOSwv9FXg1U2/s-l640.jpg);
}

.eat-bar{
	background-image: url(http://i732.photobucket.com/albums/ww324/131313559sleepy/money1.gif);
}

.plants-bar{
	background-image: url(https://media.giphy.com/media/OEFt8MCFffcwU/giphy.gif);
}

.photo-bar {
	background-image: url(https://s-media-cache-ak0.pinimg.com/236x/9f/49/7c/9f497c4de89e1d50c5cabb54e3033edd.jpg);
}

.vibes {
	font-size: 23px;
	font-family: "Lucida Console", Monaco, monospace;
}

.dj {
	max-width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.hb {
	font-family: "Bebas Neue", Arial;
}

.myiconclass {
		color: red;
}

.myiconclass3 {
		color: #fcaf45;
}
.myiconclass4 {
		color: #2ebd59;
}
.myiconclass5 {
		color: #35465;
}



.progress-hippie::-webkit-progress-value {
	background-image: url(http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0318/7695/rrRainbow_Smiley_Hippie_Pattern_preview.png);
}

.mylist{
	font-family: "Bebas Neue", Arial;
	font-size: 20px;
	display: inline;
	padding: 10px 30px;

}

.brandlist{
	font-family: "Bebas Neue", Arial;
	font-size: 50px;
	padding: 10px 30px;
}

.name {
	font-family: "Bebas Neue", Arial;
	font-size: 50px;
}

.classphoto {
	border-color: black;
	max-width: 100%;
	padding-bottom: 5%;
}

.updates {
	text-align: center;
	margin-top: 10px;
	font-family: "Bebas Neue", Arial;
	font-size: 40px;
}

li{
	 margin-right: 40px;
}

.btn-photos{
	background-color: green;
	color: white;
}
