.mylist{
	font-family: "Bebas Neue", Arial;
	font-size: 20px;
	display: inline;
	padding: 10px 30px;
	list-style: none;
  margin: 0 2px;
}

.brandlist{
	font-family: "Bebas Neue", Arial;
	font-size: 50px;
	padding: 10px 30px;
}

li{
	 margin-right: 40px;
}

.card{
  background-color: rgba(245, 245, 245, 0.4);
  padding-bottom: 20px;

}