.mylist{
	font-family: "Bebas Neue", Arial;
	font-size: 20px;
}

.brandlist{
	font-family: "Bebas Neue", Arial;
}

.leanne{
	text-align: center;
	font-family: "Bebas Neue", Arial;
}
.profilepic {
	max-width: 50%;
	
}

.column1 {
	background: url(http://shushi168.com/data/out/154/38210811-marble-wallpaper.jpg);
}