.mylist{
	font-family: "Bebas Neue", Arial;
	font-size: 20px;
	display: inline;
	padding: 10px 30px;
	list-style: none;
  	margin: 0 2px;
}

.brandlist{
	font-family: "Bebas Neue", Arial;
	font-size: 50px;
	padding: 10px 30px;
}

li{
	 margin-right: 40px;
}

.leanne{
	text-align: center;
	font-family: "Bebas Neue", Arial;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.side{
	font-family: "Bebas Neue", Arial;
	font-size: 20px;
	background-color: white;

}

.center {
   	border-radius:50%;
    margin-left: auto;
    margin-right: auto;
    size: small;

}

.navlist{
	display: inline;
	padding: 5px, 5px;
	float: left;
}
